body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
    // 顶部广告 
    .top-box{
        height: 80px;
        overflow: hidden;
        position: relative;
        background: rgb(235, 1, 2);
          .top-banner{
            width: 1190px;
            height: 80px;
            margin: 0 auto;
            position: relative;
            img{
                width:100%;
            }
            .cloes-banner{
                display: block;
                width: 19px;
                height: 19px;
                position: absolute;
                  right: 0;
                background:url(../images/1.png) 0 0  no-repeat;
                cursor: pointer; 
            
          }
          .cloes-banner:hover{
            background:url(../images/1.png) 0 -19px no-repeat;
          }
        }
        
    }

    .header{
        height: 30px;
        background: #F8F8F8;
        border-bottom: #F0F0F0 solid 1px;
        line-height: 30px;
        color: #303030;
       
     .header-nav{
        width: 1190px;
        height:30px;
        font-size: 12px;
        margin: 0 auto;
       position: relative;

        .left{
            width: 63px;
            height: 30px;
            text-align: start;
            float: left;
            position: relative;
          
            .left-icon{
              display: block;
              width: 8px;
              height:4px;
              position: absolute;
              right: 0;
              top:50%;
              background: url("../images/2.png") -8px 0  no-repeat;
           
          }
          .left-list{
            width: 638px;
            height: 205px;
            background: #fff;
            border: 1px solid #ddd;
           display: none;
            position: absolute;
            left: -13px;
            top:30px;
            z-index: 13;
            padding: 29px 0 10px 0;

            
        

        .list-one{
            width: 172px;
            height: 200px;
           padding-left: 20px;
           border-right: 1px solid #ddd;
           float: left;
        }
        .list-three{
            width: 94px;
            height: 200px;
            padding-left: 20px;
            border-right: 1px solid #ddd;
            float: left;
        }
        .list-four{
            width: 94px;
            height: 200px;
            padding-left: 20px;
            
            float: left;
        }
            h3{font-size: 14px;
            font-weight: bold;
            color: #414040;
            margin-top: 0;
        }
         .f1{
             width: 56px;
            display: block;
            float: left;
            margin-right: 30px;
           
          
          
            
        }
        a{
            padding: 0;
             line-height: 22px;
            color: grey;
          
            }
        a:hover{
            color: red;
            text-decoration: underline;
        }
       
         
        
    }
       .left:hover .left-icon{
        background: url("../images/2.png") 0 0  no-repeat;
        right: 10px;
        }
        .left:hover{
          padding: 0 10px 1px 12px;
          left: -13px;
          background: #fff;
          border: 1px solid #ddd;
          border-top: none;
          border-bottom:none ;
        }
       
    
          }
        
          .left:hover .left-list{
            display:block;
           
           
        }
       .top-login{
           width:60px;
           height:30px;
           line-height:30px;
           float: left;
           padding: 0 19px;
           margin-left: 10px;
      .zhuce{
          display: block;
          float: left;
          margin-right: 10px;
         a{
             color: #EE3F40;
         } 

      }
      .login{
          display: block;
          float: left;
          a:hover{
               color: #EE3F40;
          }
      }
      
        }
        
        .fr-right{
         float: right;
         height: 30px;
         
         li{
             float: left;
            margin-right: 10px;
             a{
                 padding-right: 5px;
                color: #303030;
                }
                a:hover{
                color: #EE3F40;
                }
            .jj{
              color:#ccc;
            }
           
         }
         
         .fr-right-last{
             a{
                 color: #EE3F40;
             }
             img{
                 width: 66px;
                 height:74px;
             }
         }
        }  
       
    
    }
    
       }
    // main

    .main{
        width: 1190px;
        height:70px;
        margin: 0 auto;
        padding: 30px 0;
    .logo{
        width:360px;
        height:70px;
        float: left;
      img{
          width:100%;
         
      }
    }
    .srarch{
        width:590px;
        height: 70px;
     
        float: left;
       padding:2px 0 0 30px; 
      
       
     .srarch-random{
         width: 560px;
         height: 40px;
       
         .wen{
             display: block;
             float: left;
            width: 438px;
            height: 22px;
            line-height: 22px;
            padding: 6px 10px;
           
            border: #00C0DC solid 2px;
         
          

      } 
      .btn{
        display: block;
        float: left;
        width: 98px;
        height: 38px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 36px;
        background: #00C0DC;
      }
      
     }
       
    }
    .cart{
        width: 120px;
        height: 36px;
        margin: 2px 0 0 -10px;
        position: relative;
        border: #e4e4e4 solid 1px;
        background: #F8F8F8;
        z-index: 11;
        float: left;
        .cart-text{
            width: 120px;
            height: 36px;
            position: absolute;
            top: 0;
            left: 0;
            background: #F8F8F8;
            z-index: 3;
            cursor: pointer;
            color: #727272;
            strong{
                font-weight: normal;
              font-size: 14px;
               color: #F35050;
              padding-left: 10px;
             line-height: 36px;
            }
           
        }
        .cart-num{
            height: 18px;
            width: 18px;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 4;
            p{
            display: block;
             height: 18px;
             
            color: #fff;
            text-align: center;
            padding: 0 3px;
            line-height: 18px;
            background: #F35050;
            font-size: 11px;
            border-radius: 18px;
            }
        }
        .cart-box{
            position: absolute;
            top: 34px;
            right: -1px;
            width: 326px;
           
            border: #e4e4e4 solid 1px;
            box-shadow: rgba(0,0,0,.2) 0 0 5px;
            z-index: 1;
            display: none;
            background: #fff;
            .cart-none{
                height: 74px;
                line-height: 74px;
                color: #8b8b8b;
                font-size: 13px;
                text-align: center;
                background: #fff;
                a{
                color: #ef3f41;
              text-decoration: underline;
                }
                
            }
        }
            
      }
      .cart:hover{
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
        .cart-box{
            display: block;
         }
      }
      
     
    }
    .bottom-nav{
        width: 1190px;
        height:40px;
        margin: 0 auto;
        position: relative;
        .centent{
            width: 884px;
            line-height: 40px;
            display: flex;
            justify-content: space-between;
          font-weight: bold;
          .seven{
              position: relative;
              .icon-hot{
                display: block;
                position: absolute;
                right: -20px;
                top:-10px;
                width: 29px;
                height: 17px;
                background: url(https://image10.homedo.com/CSS/images151205/common-icon.png) 0 -26px no-repeat;
              }
          }
            .home{
               width: 54px;
               height: 30px;
               margin-top: 5px;
               text-align: center;
                line-height: 30px;
                background: #1cbfda;
                
                border-radius: 2px;
                a{
                    color: #fff;
                }
                a:hover{
                    color: #fff;
                }
            }
            a:hover{
                color: #00C0DC;
            }
        }
        .active-img{
            width: 230px;
           text-align: center;
           position: absolute;
           right: 4px;
             bottom: 2px;
             img{
                 width:100%;
                 height:100%;
             }
        }
    }
      .main2{
          height:373px;
          border-top: 2px solid #333;
          position: relative;

    .container{
       width: 100%;
        height: 373px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .wrap{
           
             position: relative;
            
          

             .slide{
                width: 775px;
                 height: 373px;
                 position: absolute;
                 font-size: 100px;
                 line-height: 373px;
                 padding: 0 335px 0 260px;
              
                 img{
                  width: 100%;
                  height: 100%;
                  
                  }
                 
              
           }
           .slide:nth-of-type(1){
            background:  rgb(229, 27, 25);

    }
    .slide:nth-of-type(2){
            background:  rgb(28, 46, 164);
            
    }
    .slide:nth-of-type(3){
            background: rgb(10, 88, 234);
            
    }
    .slide:nth-of-type(4){
            background:  rgb(255, 27, 42);
    }
    .slide:nth-of-type(5){
            background:  rgb(244, 80, 19);
    }
    .slide:nth-of-type(6){
            background:  rgb(15, 56, 222);
    }
    .slide:nth-of-type(7){
            background:  rgb(185, 27, 210);
    }
    .slide:nth-of-type(8){
            background:   rgb(101, 192, 187);
}
    .slide:nth-of-type(9){
             background:  rgb(28, 45, 76);
}
           .slide-show{
            z-index: 2;
        }
        .slide-willhide{
            z-index: 1;
        }
            }
            .pagination{
                  
                position: absolute;
                z-index: 10;
                   bottom:0 ;
                width: 100%;
                height:20px;
                 left: 500px;

                
                span{
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border: 2px solid #ccc;
                    border-radius: 50%;
                    box-shadow: 0 0 5px rgba(0, 0, 0 ,0.6);
                    margin-left: 10px;
                     
                }
                span.active{
                    background: #fff;
   
              }
       }
      
       #left{
           display: block;
           width: 40px;
           height: 40px;
           line-height: 40px;
           text-align: center;
           position: absolute;
           top: 180px;
           left: 260px;
           background: rgba(0, 0, 0, 0.3);
          
           z-index: 3;
           cursor: pointer;
           img{
               display: block;
               width:100%;
               height: 100%;
           }
       }
       #right{
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 180px;
        right: 315px;
        background: rgba(0, 0, 0, 0.3);
     
       
        z-index: 3;
        cursor: pointer;
        img{
            display: block;
            width:100%;
            height: 100%;
        }

    }
   
    }
    .nav-box{
        width:180px;
        position: absolute;
        height: 475px;
        left: 80px;
        top:0;
        padding-top: 5px;
        z-index: 11;
        background: #27313D;
        li{
           
             padding: 12px 0;
            font-size: 14px;
           padding-left: 20px;
            a{
                color: #fff;
            }
            img{
                display: block;
                width: 35px;
                height: 35px;
               margin-top: -5px;
                float: right;
            }
            .nav-boxlist{
                width: 1020px;
                height: 650px;
                background: #fff;
                position: absolute;
                left: 180px;
                top: 0;
                display: none;
            .list-f{
                margin: 20px 0 0 30px;
            span{
                display: block;
                width: 90px;
                height: 50px;
                  
                text-align: end;
                font-size: 14px;
                position: relative;
               

            a{
                color: #333;
            }
            .list-s{
                width: 800px;
                height: 50px;
                line-height: 50px;
                 position: absolute;
                  left: 150px;
                  top:-15px;
                  border-bottom: 1px solid #ddd;
              a{
                  float: left;
                  color: #999;
                  font-size: 12px;
                  margin-right: 10px;
                  
                  }
                  a:hover{
                    color: #333;
                    text-decoration: underline;
              }
            }
            
            }
            
              
            }
            .tu-small{
                width: 300px;
                height: 120px;
                margin-left: 30px;
            float: left;
                img{
               
                    width: 148px;
                    height: 62px;
                   border: 1px solid #ddd;
                    
                    
                }
            }
            .tu-big{
                width: 470px;
                height: 120px;
                float: left;
                img{
                    display: block;
                    width: 210px;
                    height: 120px;
                     float: left;
                   border: 1px solid #ddd;
                  margin-left: 20px;
                }
            }
           
            }
        }
        li:hover{
            background: #fff;
            a{
                color: #00C0DC;
            }
            
        }   
        li:hover .nav-boxlist{
            display: block;
        } 
    }
    .box{
         width: 230px;
         height: 100%;
         background: #fff;
         position: absolute;
         right: 83px;
         top: 0;
         z-index: 21;
    .login-info{
        width: 230px;
         height: 110px; 
         margin-top: 20px;
         margin-left: 15px;
         img{
            display: block;
             width: 44px;
             height: 44px;
             border-radius: 50%;
             float: left;
         }
        .hello{
            float: left;
            margin-left: 5px;
            span{
                font-size: 14px;
                color:#686868;
            }
            p{
                font-size: 14px;
                color: #A0A0A0;
                margin-top: 3px;
               
            }
           
        }
            .btn{
            width: 188px;
            height: 28px;
            border-radius: 15px;
            border: 1px solid red;
            font-size: 14px;
            position:absolute;
            left: 20px;
            top: 80px;
            line-height: 28px;
            text-align: center;
           a{
            color: #EE3F40;
           }
          
        }
        
        }
        .login-btn{
            width: 200px;
            height: 52px;
            margin-left: 20px;
           
            span{
                display: block;
                float: left;
                width: 88px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                margin-top: 22px;
                margin-right: 5px;
                border-radius: 2px;
                border: 1px solid #1cbfda;
               
            }
           
            .zhuce{
                background: #1cbfda;

                a{
                    color: #fff;
                }
                
                }
                .login{

                    a{
                    color: #1cbfda;
                    }
                    
                }
              
            }
            
           .icon-box{
               width: 200px;
        
               margin-left: 20px;
                margin-top: 30px;
                border-top: 1px solid #ccc;
            span{
                display: block;
                width: 60px;
                height: 60px;
                
                float: left;
                margin-right: 5px;
                margin-top: 15px;
                img{
                    display: block;
                    width:34px;
                    height:34px;
                    margin-left: 13px;
                    margin-top: 5px;
                }
                a{
                    font-size: 12px;
                    text-align: center;
                }
                a:hover{
                    color: #1cbfda;
                    
                }
            }
           }
       }
      
         }
         .lunbo{
             height: 140px;
             background: #F2F2F2;
             .lunbo-list{
                 width:1190px;
                 height: 140px; 
                 margin: 0 auto;
                position: relative;
                
                #btn-left{
                  
                cursor: pointer;
                position: absolute;
                left: 200px;
                width: 24px;
                height: 40px;
                top: 50%;
                margin-top: -20px;
                
                z-index: 10000; 
                background: url(../images/17.png) no-repeat;
                background-position: 0 -65px;
            }
            #btn-right{
                cursor: pointer;
                position: absolute;
                right: 250px;
                width: 24px;
                height: 40px;
                top: 50%;
                margin-top: -20px;
                
                z-index: 10000; 
                background: url(../images/17.png) no-repeat;
                background-position: -22px -65px;
            }
                .listbox{
                width: 760px;
                height:140px;
                float: left;
                background: #fff;
                margin: 11px 0 0 190px;
                box-shadow: rgba(227,227,227,0.5) 0 0 6px;
                .box{
                    width: 252px;
                    height:140px; 
                   
                    float: left;
                    border-right:1px solid #ddd;
                  
                    img{
                        margin-left: 25px;
                        margin-top: 30px;
                        display: block;
                        width: 77px;
                        height: 77px;
                        float: left;
                        vertical-align: middle;
                    }
                    .min-box{
                     margin-top: 40px;
                        width: 130px;
                        height: 70px;
                        font-size: 12px;
                        float: left;
                      strong{
                          display: block;
                       color: #EE3F40;
                       font-size: 14px;
                       margin-top: 10px;
                      }
                    }
                    .min-box:hover a{
                       color: red;
                    }
                }
               
             }
             .choose-ka{
                width: 235px;
                height: 140px;
                background: #F2F2F2;
                float: left;
               margin-left: 5px;
                margin-top: 10px;
                span{
                    display: block;
                    width: 70px;
                    height: 33px;
                    line-height: 33px;
                    font-size: 12px;
                    float: left;
                    text-align: center;
                  border:1px solid #ddd;
                   border-right: none; 
                  ul{
                      width: 230px;
                      height: 100px;
                    
                      line-height: 20px;
                      padding-top: 15px;
                      background: #fff;
                      a{
                          color: #686868;
                      }
                  li:hover a{
                    
                     color: #333;
                  }
                    }
                    
                }

                .active{
                    background: #fff;
                    border-bottom: none;
                }
            }
             }
         }
    
    .act-big{
        height:160px;
        background: #F2F2F2;
        padding-top: 30px;
       
        ul{
            width: 1190px;
             height:100%;
             margin: 0 auto;
               display: flex;
               justify-content: space-between;
        
          
            
               img{
                   display: block;
                  width: 230px;
                  height:150px;
                  
               }
               a:hover img{
                 box-shadow: 0 0 5px #414040;
                 margin-top:-3px;
                 transition: all 0.5s;
               }
           }
        }
        .act-box{
         
            background: #F2F2F2;
            .act-list{
                width: 1190px;
                height: 90px;
                margin: auto;
                padding: 10px 0;
                overflow: hidden;
                background: #fff;
                a{
                 display: block;
          
                
                 
                 dl{
                    line-height: 90px;
                    float: left;
                    width: 237px;
                     height: 90px;
               
                    position: relative;
                    img{
                        display: block;
                        width: 72px;
                        height: 72px;
                      margin: 15px 20px;
                    }
                    dd{
                        position: absolute;
                        width: 135px;
                         height: 60px;
                         top: 20px;
                         left: 100px;
                         text-align: center;
                         border-right: 1px solid #ddd;
                      
                         strong{
                             display:block;
                             font-size: 16px;
                             line-height: 30px;
                             
                         }
                         p{
                         
                             font-size: 14px;
                             line-height: 20px;
                         }

                    }
                 }
                }
            }
            

        }
.content{
    background: #F2F2F2;
    .main{
        width: 1190px;
        height:508px;
        margin: 0 auto;
       
        h3{
            width: 100px;
            text-align: center;
            margin-top: 20px;
            line-height: 20px;
            border-left: 5px solid #00C0DC;
            font-size: 18px;
            font-weight: bold;
        }
        
    .ranking{
        background: #fff;
        width:470px;
        height:100%;
        
        float: left;
        margin-right: 10px;
        img{
            display: block;
            width: 430px;
            height: 100px;
            margin:20px;
            border-radius: 5px;
        }
        ul{
            width:100%;
            height: 312px;
           
            position: relative;
            #btn-left-s{
                  
                cursor: pointer;
                position: absolute;
                left: 0;
                width: 24px;
                height: 40px;
                top: 50%;
                margin-top: -20px;
                
                z-index: 10000; 
                background: url(../images/17.png) no-repeat;
                background-position: 0 -65px;
            }
            #btn-right-s{
                cursor: pointer;
                position: absolute;
                right: 0;
                width: 24px;
                height: 40px;
                top: 50%;
                margin-top: -20px;
                
                z-index: 10000; 
                background: url(../images/17.png) no-repeat;
                background-position: -22px -65px;
            }
            li{
                height: 80px;
                position: relative;
               
                img{
                    display: block;
                    padding: 25px 10px;
                    width:40px;
                    height:34px;
                    border-radius: 50%;
                    
                }
                dl{
                    width: 350px;
                    height: 80px;

                   
                     position: absolute;
                     left: 80px;
                     top: 0;
                     img{
                         width: 80px;
                         height: 80px;
                         border-radius: 1px;
                         margin-top:-25px;
                         margin-left: 0px;
                     }
                dd{
                    width: 240px;
                    height: 80px;
                   
                    position: absolute;
                    left: 100px;
                    top:0;
                    p{
                        padding: 10px 0;
                        font-size: 14px;
                        a:hover{
                            color: #EE3F40;  
                        }
                    }
                    strong{
                        display: block;
                        font-size: 12px;
                        color: #EE3F40;
                        font-weight: normal;
                        margin-top: -5px;
                    }
                }
  
                }
  
            }
        } 

    }
    .selection{
        background: #fff;
        width:470px;
        height:100%;
      
        float: left;
        margin-right: 10px;
        img{
            display: block;
            width: 430px;
            height: 100px;
            margin:20px;
            border-radius: 5px;
        }
        ul{
            width:100%;
            height: 312px;
           padding: 0 20px;
           
            li{
                width: 120px;
                height: 149px;
               margin-right: -10px;
                float: left;
                
                img{
                    display: block;
                    width: 80px;
                    height: 80px;

                }
                p{
                    font-size: 12px;
                    text-align: center;
                    margin-top: -10px;
                    a:hover{
                        color: #EE3F40;  
                    }
                }
                strong{
                    display: block;
                    font-size: 12px;
                    font-weight: normal;
                    text-align: center;
                    line-height: 30px;
                    color: #EE3F40;
                }
            }

        } 
    }
    .feature{
        background: #fff;
        width: 230px;
        height: 100%;
        
        float: left;
        img{
            display: block;
            width: 210px;
            height: 100px;
            margin: 20px 10px;
            border-radius: 5px;
        }
        ul{
            width:100%;
            height: 312px;
           
           
            li{
                width: 70px;
                height: 75px;
           
                float: left;
                margin: 15px 20px;
                
            dt{
                width: 50px;
                height: 50px;
                 margin-left: 10px;
                 margin-top: 10px;
                background: url(../images/17.png) no-repeat;
                
            }
            .one{
                background-position: 0 -15px;
            }
            .two{
                background-position: -50px -15px;
            }
            .three{
                background-position: -100px -15px;
            }
            .four{
                background-position: -150px -15px;
            }
            .five{
                background-position: -200px -15px;
            }
            .six{
                background-position: -250px -15px;
            }
            
            p{
                font-size: 14px;
                text-align: center;
                line-height: 20px;
            }
            }
            li:hover{
               dt{
                   margin-top: 5px;
                   transition: all .5s;
               }
            }
        } 
      
          }
        }
    }
    .title{
        background: #F2F2F2;
        .title-p{
            width: 1190px;
            height:30px;
            margin: 0 auto;
            background: #F2F2F2;
             padding-bottom: 20px;
              line-height: 30px;
        img{
            display: block;
            float: left;
            width: 28px;
            height: 27px;
            vertical-align: middle;
        }
        h2{
            font-size: 20px;
            font-weight: bold;
            float: left;
            margin-left: 10px;
        }
        p{
            margin-left: 15px;
            float: left;
        }
        span{
            font-size: 14px;
            float: right;
        }

        }
    }
    .brand{
        background: #F2F2F2;
        .brand-list{
            width: 1190px;
            height: 260px;
             margin: 0 auto;
             background: #fff;
             box-shadow: 0 0 1px #ddd;
            ul{
                height: 87px;
                display: flex;
                justify-content: space-between;
                
              
                li{
                    width: 170px;
                    height: 87px;
                    
                    border-right: 1px solid #E9E9E9;
                    border-bottom:1px solid #E9E9E9;
                    img{
                        width:138px;
                       height:78px; 
                       margin: 4px auto;
                    }
                }
                }
            }
        }
        .shop{
            background: #F2F2F2;
            padding-top: 20px;
            .shop-box{
                width: 1190px;
                height: 1500px;
                margin: 0 auto;
               
            .shop-list{
                width: 585px;
                height: 290px;
                margin: 5px;
                background: #fff;
                float: left;
                .big-img{
                    width: 170px;
                    height: 290px;
                  border-right: 1px solid #E9E9E9;
                  float: left;

                    h2{
                        font-size: 18px;
                        line-height: 40px;
                        padding-top :20px;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                    p{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    strong{
                        display: block;
                         width: 25px;
                         height: 5px;
                         background: #0071DD;
                         margin: 15px;

                    }
                    span{
                        display: block;
                        width: 70px;
                        height: 25px;
                        background: #0071DD;
                        
                        text-align: center;
                        line-height: 25px;
                        margin-top: 20px;
                        margin-left: 10px;
                        float: left;
                        a{
                            color: #fff;
                        }
                    }
                }
                .img-wen{
                    width: 410px;
                    height:256px;
                  
                    float: left;
                      .top{
                          width:100%;
                          height:220px;
                          border-bottom: 1px solid #E9E9E9;
                           
                       
                    dl{
                        width: 100px;
                        height:150px;
                      
                        margin-left: 30px;
                        float: left;
                        margin-top: 40px;
                        h3{
                          font-size: 16px;
                           font-weight: bold;
                        }
                        p{
                            font-size: 14px;
                        }
                        img{
                            display: block;
                            width:80px;
                            height: 80px;
                            margin: 20px 10px;


                        }
                    }
                    }
                    .bottom{
                        width: 360px;
                        height: 45px;
                        margin-left: 30px;
                        span{
                            display: block;
                            height: 24px;
                            line-height: 24px;
                            padding: 0 12px;
                            background: #F3F3F3;
                            font-size: 13px;
                            color: #777; 
                            float: left;
                            margin-right: 10px;
                            margin-top:24px;
                        }
                    }
                   
                   
                }
            }
            dl:hover a{
                color:#EE3F40;
            }
              

            }

        }
    .index-box{
        padding-top:1px;
        background: #F2F2F2;
        .index-news{
            width: 1190px;
            height:600px;
           
            margin: 0 auto;
           
            .news-top{
            background: #F2F2F2;
                width: 100%;
                height:60px;
                padding: 10px 0;
             
                img{
                    display:block;
                    margin: 20px 10px 0 0;
                    float:left;

                }
                h2{
                    line-height: 60px;
                    font-size: 20px;
                    font-weight: bolder;
                    float: left;
                   
                }

             .news-right{
                 float: right;
                span{
                    display: block;
                    float: left;
                    width: 70px;
                    height: 20px;
                    line-height: 60px;
                    text-align: center;
                    color: #bbb;

                 a:hover{
                    color: #00C0DC;
                 }
                }
             }
            }
                ul{
                    width:100%;
                    height:280px;
                   
                    li{
                        background: #fff;
                        float: left;
                      width: 280px;
                      height: 280px;
                      padding: 0 5px;
                     
                      margin-right: 7px;
                      img{
                          display: block;
                          width: 270px;
                          height: 168px;
                          margin : 10px 5px;

                      }
                      h3{
                          font-size: 16px;
                          margin-left: 5px;
                          a{
                              color:#333;
                          }
                          a:hover{
                              color:#00C0DC;
                          }
                      }
                      span{
                          display: block;
                          float: left;
                          margin-top:20px;
                          font-size:14px;
                          margin-left: 20px;
                      }
                      strong{
                        display: block;
                        float: right;
                        margin-top:20px;
                        font-size:14px;
                       font-weight: normal;
                       a:hover{
                        color:#00C0DC;
                       }
                      }
                    }
                       li:hover{
                        box-shadow: 0 0 5px #ccc;
                        transition: all .5s;
                            margin-top: -3px;
                           
                
                       }
                }
        .bottom-l{
            width:590px;
            height:245px;
            background:#fff;
            float: left;
            margin-right: 3px;
            margin-top: 20px;
            h2{
                font-size: 16px;
                line-height: 50px;
                margin-left: 20px;
                font-weight: bold;
            }
            ul{
                margin-left: 20px;
                li{
                   width: 550px;
                   height: 30px;
                    line-height: 30x;
                    font-size: 12px;
                  
                   
                    a{
                        display: block;
                          float: left;
                          margin:0
                          
                        
                    }
                    p{
                        float: left;
                        line-height: 15px;
                        margin-right: 10px;

                    }
                    span{
                        display: block;
                        float: left;
                        margin-top:0;
                        margin-right: 20px;

                    }
                    strong{
                        display: block;
                        float: left;
                        margin-top:0;
                    }
                }
                li:hover{
                    
                  margin-top: 0;
                  box-shadow: 0 0 ;     
                }
            }
        }
        .bottom-c{
            width: 300px;
            height:245px;
            background:#fff;
            float:left;
            margin-right: 3px;
            margin-top: 20px;
            h2{
                font-size: 16px;
                line-height: 50px;
                margin-left: 20px;
                font-weight: bold;
            
            }
            p{
                font-size: 14px;
                margin-left: 20px;
                line-height: 25px;
            }
        }
        .bottom-r{
            width:285px;
            height:245px;
            background:#fff;
            float:left;
            margin-top: 20px;
            h2{
                font-size: 16px;
                line-height: 50px;
                margin-left: 20px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                margin-left: 20px;
                line-height: 25px;
            }
        }
        a:hover{
               color:#00C0DC;
        }
       
        }
        .big-banner{
        
            width: 1190px;
            height:110px;
            margin: 0 auto;
           padding: 20px 0;
            img{
                display: block;
                width:100%;
                height:100%;
                margin-top: 30px;
            }
        }
    }
    .lang-img{
        background: #F2F2F2;
        height:118px;
        img{
            width:100%;
            height:100%;
            padding-top: 70px;
        }
    }
    .foot{
      
        background: url(../images/60.png) bottom center no-repeat #222;
        .foot-nav{
            width: 1190px;
            height: 210px;
            margin: 0 auto;
             margin-top: 70px;
            padding: 32px 0 53px 0;
      dl{
          float: left;
          margin-right: 100px;
          dt{
              color: #fff;
              font-size: 16px;
          }
          dd{
              margin-top: 20px;
            span{
                display: block;
                line-height: 25px;
                font-size: 14px;
                a{
                    color:#a0a0a0;

                }
            }
               a:hover{
                   color:#fff;
               }
          }
         
      }
      .sao{
          width:110px;
          height:154px;
        
          float: left;
          margin-right: 75px;
          p{
            width:110px;
            height:20px;
            line-height: 20px;
            text-align: center;
            color: #fff;
          }
          img{
              display: block;
              width:110px;
              height:110px;
              margin-top: 30px;
          }
      }
        }
    }
    .foot-type{
        background: #222;
        border-top: 1px solid #333;
        .type-list{
            width: 1190px;
            height: 179px;
            margin: 0 auto;
          ul{
            width: 1000px;
           margin: 0 auto;
            height:20px;
            line-height:20px;
            display: flex;
            justify-content: space-between;
             padding-top: 30px;
             a{
                 color: #fff;

             }
             a:hover{
                 color:#00C0DC;
             }
             span{
                 color:#303030;
                 font-size: 12px;
             }

          }
          p{
              padding: 15px  0 0 0;
              width: 500px;
              height: 20px;
              line-height:20px;
              margin: 0 auto;
              font-size: 14px;
              color: #727272;
          }
          .min-img{
              width: 500px;
              height: 35px;
              margin: 20px auto;


              img{
                  display: block;
                  width:92px;
                  height: 35px;
                  margin-right: 5px;
                  float: left;

              }
          }
        }
    }


    
     
  
       